.quote-button{
    background-color: #C05269;
    color: #4b4b4a;
    font-size: 20px;
    padding: 10px 40px;
    margin: 10px 100px;
    cursor: pointer;
    border: none;
    }
    .quote-button:hover{
    color: black;
    }