.share-button{
  background-color: #C05269;
  color: #4b4b4a;
  font-size: 20px;
  padding: 10px 40px;
  margin: 10px 100px;
  cursor: pointer;
  border: none;
}

.share-button:hover{
  color: black;
  border-color:#BF4950;
  }


  a {
    color:inherit;
    text-decoration: none;
   }